*{
    margin:0px;
}

:root {
    --theme-color: #212529;
}

html {
    background-color: var(--theme-color);
    
}

body {
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: var(--theme-color) !important;
}

/* Search box design */
input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
    border: 1px solid #DDDDDD;
    color: white;
  }
   
  input[type=text]:focus {
    box-shadow: 0 0 5px rgb(73, 73, 232);   
    border: 1px solid rgb(104, 81, 238);
  }

  input[type=text]:hover {
    box-shadow: 0 0 5px rgb(73, 73, 232);   
    border: 1px solid rgb(104, 81, 238);
  }

main {
    /* height: 70vh; */
    /* width: 70%;  */
    margin-left: 2%;
    margin-top: 5%;
    overflow-y: auto;
    /* display: inline-block; */
    padding: 16px;
}

/* main::-webkit-scrollbar {
    display: none;
}

main {
    scrollbar-width: none;
} */

aside {
    /* display: inline-block; */
    vertical-align: top;
    margin-top: 0%;
    margin-left: 1%;
    /* width: 25%; */
    padding: 16px;

}

.headings{
    color:white;
    margin-bottom: -1% !important;
}

.dropdown-toggle {
    text-decoration: none !important;
    color: rgb(96, 186, 209) !important;
}

/*  Navbar  */
#search-bar {
    position: relative;
}

#search-input {
    line-height: 2rem;
    border-radius: 10px;
    padding: 0.2rem 2rem;
    font-size: 1.2rem;
    background-color: #212529;
    
}

#search-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.8rem;
    padding: 0px 0.5rem;
    color: #ced4da;
}

#mic-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8rem;
    padding: 0px 0.5rem;
    color: #ced4da;
}


.indicator {
    content: '';
    position: relative;
    top: -10px;
    /*    right: 23px;*/
    right: 20px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ef172c;
    animation: .9s infinite beatHeart;
    transform-origin: center;
}


@keyframes beatHeart {
    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(0.9);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

.search-form {
    padding-right: 1em !important;
}

.sm-icons {
    flex-direction: row !important;
}

.sm-icons .nav-link {
    padding-right: 1em !important;
}


/*---- User icon sizes ---*/

.user-avatar-xxl {
    height: 128px;
    width: 128px;
}

.user-avatar-xl {
    height: 90px;
    width: 90px;
}

.user-avatar-lg {
    height: 48px;
    width: 48px;
   
}

.user-avatar-md {
    height: 40px;
    width: 40px;
    margin-left: 2%;
    margin-right: 2%;
}




/*  icons color */
.fa-bell {
    color: #ffffff;
}


/*  Image corousel */


.container-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    /* max-width : 250px; */
    justify-content: space-around;
    margin-top: 2%;

}

.container-flex img {
    /* flex-basis: 200px; */
    height: 75%;
    width: 22%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    max-width: 100%;
    /*      height: auto;*/
    vertical-align: middle;

}

.container-flex img:hover {
    transform: scale(1.3);
}

/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
    position: fixed;
    bottom: 1px;
    width: 100%;
    height: 60px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0px 3%;
    box-sizing: border-box;
    z-index: 6;
    color: lightgray;
}

/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
    /* border:1px solid white; */
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* the current song which is being played, this is the image container for that. */
#song-image {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

/* current song image */
#song-image img {
    width: 100%;
    height: 100%;
}

/* heart and ban icon */
.heart-and-ban-icon {
    height: 100%;
    padding-top: 4%;
}

/* song decscription */
.song-desc {
    margin-right: 1%;
    margin-left: 1%;
}

/* song name */
.song-desc div:nth-child(1) {
    font-size: 14px;
}

/* song author */
.song-desc div:nth-child(2) {
    font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* controls is the container for all the center controls of the player */
.controls {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

/* this is the song-duration slider */
#slider {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

/* ////////// */
.time {
    margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
    width: 100%;
}

/* for audio and main center player */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* hover effect for the slider */
.slider:hover {
    opacity: 1;
}

/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* Aside section for songs queue start */

.songs-queue-all {
    margin-top: 5%;
    height: auto;
    overflow-y: auto;
}

.song-queue {
    margin-top: 2%;
    display: flex;
    width: 100%;

}

.song-queue-1 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 70%;
    gap: 10px;
}

.song-queue-2 {
    width: 25%;
    display: flex;
    justify-content: right;
}

/* .songs-queue-all::-webkit-scrollbar {
    display: none;
}

.songs-queue-all {
    scrollbar-width: none;
} */

/* Aside section for songs queue end */

/* common class */
.song-name {
    color: #fff;
}

.author-name {
    color: lightgray;
}


/* Latest release start */

.latest-release{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}


.latest-release .song-queue{
    width: 50%;
}

#song-image-latest {
    width: 85px;
    height: 90px;
    min-width: 100px;
    min-height: 100px;
}

#song-image-latest img {
    width: 85%;
    height: 90%;
}

.song-queue-2 .dropdown{
    font-size: 25px !important;
}

.latest-release-image{
    position:relative;
}
.latest-release-image:hover .play-button{display:block}
.play-button {
    position: absolute;
    display: none;
    top: 28%;
    width: 61px;
    margin: 0 auto;
    left: 25px;
    right: 0px;
    z-index: 100;
    color: white;
}
/* Latest release end */

/* popular-artists-section start */
#popular-artists-section{
    margin-top: 2%;
}

.popular-artists{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}

.popular-artists div img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
.popular-artists div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
    color: white;
}

.artists-img{
    position:relative;
}
.artists-img:hover .play-button{display:block}
.artists-img .play-button {
    position: absolute;
    display: none;
    top: 30%;
    width: 61px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    color: white;  
	transition: opacity ease-in-out 0.1s;
}

.artists-img:hover {
	opacity: 0.8;
}
.artists-img:hover i {
	opacity: 1;
}

.popular-artists a{
    text-decoration: none;
    color: white;
}

/* popular-artists-section end  */


/* songs-section start */
#songs-section{
    background-color: darkslateblue;
}

.songs-varieties{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 100%;
    margin-top: 4%;
    align-items: center;
    max-width: 1200px;
}

.songs-varieties div img {
	width: 7vw;
	min-width: 40px;
	min-height: 40px;
	height: 7vw;
	border-radius: 50%;
    opacity: 0.5;
}
.songs-varieties div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
    color: white;
}

.songs-img{
    position:relative;
}

.songs-img .music-theme-name {
    position: absolute;
    display: block;
    top: 38%;
    width: 61px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    color: white;  
    font-weight: 700;
	/* transition: opacity ease-in-out 0.1s; */
}

.songs-img:hover {
	opacity: 0.5;
}
.songs-img:hover i {
	opacity: 1;
}


/* songs-section end  */


/* this is the second section of music themes */
.music-themes-2 {
	position: relative;
	top: 2vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* this outer div contains the inner div and the image and text */
.outer-div {
	width: 21.5vw;
	height: 13vw;
	overflow: hidden;
	min-width: 116px;
	min-height: 82px;
	/* margin: 9px; */
	cursor: pointer;
}
/* inner div portion */
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
/* divs corresponding to each of the 3 sub sections in the themes section */
/* party */
.music-themes-2 .outer-div:nth-child(1) .inner-div {
	background-image: url(../media/music_themes2/party.jpg);
    opacity: 0.8;
}
/* electronic */
.music-themes-2 .outer-div:nth-child(2) .inner-div {
	background-image: url(../media/music_themes2/electronic.jpg);
}
/* road */
.music-themes-2 .outer-div:nth-child(3) .inner-div {
	background-image: url(../media/music_themes2/road.jpg);
}
/* hivering actions: the text should be scaled down on hover and the background image should be scaled up at the same time gap */
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}
.inner-div::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
}
/* adjusting inner div properties */
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {
	/* color: white; */
	color: white;
	font-size: 2vw;
}


/* Language section start here */

/* language sections */
.language {
	position: relative;
	top: 2vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	/* margin: 3vw 0px; */
    margin: 3vw 0px;
    color: white;
}
/* language content container */
.language-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 0px 2px;
}
/* image in language content */
.language-content div img {
	width: 10vw;
	min-width: 60px;
	height: 10vw;
	min-height: 60px;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects on language content items */
.language-content div img:hover {
	box-shadow: 0px 0px 10px 1px white;
}
/* items in language content */
.language-content div {
	margin: 2vw 0px;
	width: 10.2vw;
	min-width: 60px;
}
/* properties for release date and name of the song */
.language-content div p:nth-child(2n) {
	width: 100%;
	word-wrap: break-word;
    margin-bottom: 0rem !important;
}
.language-content div p:nth-child(2n + 1) {
	font-size: 12px;
	font-weight: lighter;
}

/* Language section end here */

/*  Media Queries */


@media screen and (min-width:992px) {
    main {
        width: 65%;
        display: inline-block;
    }

    aside {
        width: 25%;
        display: inline-block;
    }  
    
}






nav{
    background-color: var(--theme-color) !important;
    overflow: hidden;    
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    z-index: 200;
  }
  nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 0 15px;
  }
  nav .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items li a:hover{
    color: gray;
  }
  nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    /* background: #1e232b; */
    min-width: 18%!important;
    border-radius: 2px;
    /* border: 1px solid rgba(155,155,155,0.2); */
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nav form button:hover{
    background: #e63600;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  @media (max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
  }
  @media (max-width: 1140px){
    nav{
      padding: 0px;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      /* width: 100%; */
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background: #14181f;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nav .nav-items.active{
      left: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
    nav .nav-items li a{
      font-size: 20px;
    }
    nav form{
      position: absolute;
      top: 80px;
      right: 50px;
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #1e232b;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #1e232b;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .space{
    margin: 10px 0;
  }
  nav .logo.space{
    color: red;
    padding: 0 5px 0 0;
  }
  @media (max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;
    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  

  /* Dropdown style start here */
  .dropdown {
    position: relative;
    display: inline-block;   
    font-size: 14px;
  }
  .dropdown:hover{
    cursor:pointer;
  }
  .dropdown > a, .dropdown > button {
   
    font-size: 14px;
    background-color: transparent;
    /* border: 1px solid #ccc; */
    padding: 6px 20px 6px 10px;
    /* border-radius: 4px; */
    display: inline-block;
    color: black;
    text-decoration: none;
  }
  
  
  
  .dropdown input[type=checkbox] {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0;
  }
  
  .dropdown input[type=checkbox]:checked {
    position: fixed;
    z-index:+0;
    top: 0px; left: 0px; 
    right: 0px; bottom: 0px;
  }
  
  .dropdown ul {
    position: absolute;
    top: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    left: -105px;
    right: 0px;
    list-style: none;
    padding: 4px 0px;
    display: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.175);
    z-index:2;
  }
  
  .dropdown input[type=checkbox]:checked + ul {
    display: block;
  }
  
  .dropdown ul li {
    display: block;
    padding: 6px 20px;
    white-space: nowrap;
    min-width: 100px;
  }
  
  .dropdown ul li:hover {
    background-color: #F5F5F5;
    cursor: pointer;
  }
  
  .dropdown ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 14px;
  }
  
  .dropdown .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size: 1px;
    padding: 0;
  }
  
  /* Dropdown style end here  */

  /* Media Queries */
  @media screen and (max-width: 550px) {
    .songs-queue-all {
        margin-top: 2%;       
    }
  }

@media screen and (max-width:992px) {
    .indicator {
        content: '';
        position: relative;
        top: -11px;
        /* right: 23px; */
        left: -20px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #ef172c;
        animation: .9s infinite beatHeart;
        transform-origin: center;
    }

    .latest-release .song-queue{
        width: 100%;
    }

    .container-flex {    
      height: 160px;
  }
  nav .logo {  
    font-size: 24px;
  }

  .songs-varieties div img {
    width: 20vw;   
    height: 20vw;  
  }
}

@media screen and (min-width: 992px) {
    .songs-queue-all {
        margin-top: 15%;       
    }

    aside {    
      margin-top: 5%;      
   }

 
  }





